//
// Load core variables and mixins
// --------------------------------------------------

@import "bootstrap";
@import "bfriend-mixins";
@import "bfriend-default";
@import "bootstrap/mixins";
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import "../fonts/fonts.css";

/* gerais */
/* ----------------------------------------- */
h1 {
	&.s-title,
	&.page-title {
		text-transform: uppercase;
		font-family: $font-seg;
		margin-bottom: 25px;
		display: flex;
		flex-direction: column;
		align-items: center;

		hr {
			border-top: 3px solid $cor-ter;
			width: 60px;
			height: 3px;
			margin-top: 15px;
		}

		span {
			@include fs(14px);
			@include normal;
		}
	}
}

h2 {
	&.s-title {
		text-transform: uppercase;
		font-family: $font-seg;
		margin-bottom: 25px;
		text-align: center;
	}
}

img {
	&.h-cat {}
}

a {
	color: $cor-seg;
	&:hover {
		color: $cor-ter;
	}
}

.reset-ul {
	padding: 0;
	list-style: none;
}

.redes-sociais {
	@extend .reset-ul;

	li {
		display: inline-flex;
		margin-right: 10px;
		padding-right: 10px;
		border-right: 1px solid $cor-seg;
		a {
			@include fs(30px);
			color: $cor-seg;
			line-height: 30px;

			&:hover {
				color: $cor-ter;
			}
		}

		&:last-child {
			margin-right: 0;
			padding-right: 0;
			border-right: 0;
		}
	}
}

.phones {
	@extend .reset-ul;
	li {
		display: flex;
		line-height: 20px;
		a {
			span {
				@include bold;
			}
		}
	}
}

.slick-slider {
	.slick-dots {
		@include media-breakpoint-up(xs) {}
		@include media-breakpoint-up(sm) {}
		@include media-breakpoint-up(md) {
			bottom: 80px;
		}
		@include media-breakpoint-up(lg) {}
		@include media-breakpoint-up(xl) {}
		
	  li {
			button {
				
				&:before {
					@include fs(20px);
					color: white;
					opacity: .8;
				}
			}
			&:hover,
			&.slick-active {
				button {
					&:before {
						opacity: 1;
						color: white;
					}
				}
			}
	  }
	}

	.slick-next, .slick-prev {
		width: 44px;
		height: 46px;

		&:before {
			display: block;
			width: 44px;
			height: 46px;
			color: transparent;
			opacity: 1;
		}
	}
	.slick-prev {
		&:before {
			background: url(../images/angle-left-b.png) no-repeat center center;
		}
	}
	.slick-next {
		&:before {
			background: url(../images/angle-right-b.png) no-repeat center center;
		}
	}
}

#search-box {
	input, button {
		border: 1px solid $cor-seg;
		@include radius(0);
	}
	input {
		color: $cor-seg;
		width: 85%;
		@include placeholder {
			color: $cor-seg;
		}
	}
	button {
		cursor: pointer;
		background: $cor-seg;
		color: white;
		width: 15%;
	}
}
/* ----------------------------------------- gerais */

/* header */
/* ----------------------------------------- */
header {
	&#header {
		background: $cor-seg url(../images/bg-header.jpg) no-repeat center top;
		padding: 20px 0 0;
		margin-bottom: 5px;

		#menu {
			background: white;
			margin-top: 15px;
		}

		nav#navbar {
			padding: 10px 0;
			.navbar-header {
				.navbar-toggle {
				  position: relative;
				  float: right;
				  margin-right: 15px;
				  padding: 9px 10px;
				  margin-top: 8px;
				  margin-bottom: 8px;
				  background-color: transparent;
				  border: 1px solid transparent;
				  border-radius: 4px;
				}
				.navbar-toggle .icon-bar {
				  display: block;
				  width: 22px;
				  height: 2px;
				  border-radius: 1px;
				}
				.navbar-toggle .icon-bar + .icon-bar {
				  margin-top: 4px;
				}
			}
			.navbar-offcanvas {
				width: 100%;
		    ul {
			    flex-wrap: wrap;
			    justify-content: space-around;
			    width: 100%;
			    z-index: 15;
			    li {
						text-align: center;
						> a {
							@include fs(18px);
							padding: 15px 0;
							color: $cor-pri;
							text-transform: uppercase;
							border-bottom: 3px solid white;
							@include medium;

							&:hover {
								color: $cor-ter;
								border-color: $cor-ter;
							}
						}

						&.active {
							> a {
								color: $cor-ter;
								border-color: $cor-ter;
							}
						}

						&.dropdown {
							&.active {
								.dropdown-menu {
									display: block;
								}
							}
						}

						.dropdown-menu {
							min-width: 12rem;
							border: 0;
							margin: 15px 0 0;
							padding: 30px 15px;
							@include radius(0);
							li {
								text-align: left;
								border-bottom: 1px solid #eeeeee;
								a {
									display: block;
									width: 100%;
									padding: 10px 0;
									border-bottom: 0;
									@include fs(16px);
								}
								&:last-child {
									border-bottom: 0;
									a {
										padding-bottom: 0;
									}
								}
							}
						}
			    }
		    }
			}
			@include media-breakpoint-down(sm) {
				justify-content: flex-end;
				padding-left: 0;
				padding-right: 0;
				margin-bottom: 20px;
				z-index: 1050;
				.navbar-header {
					a {
						float: left;
						color: $cor-seg;
						margin: 5px 15px;
						@include bold();
					}
					button {
						border: 1px solid $cor-seg !important;
						margin-right: 0 !important;
						span {
							&.icon-bar {
								background-color: $cor-seg;
							}
						}
					}
				}
				.navbar-offcanvas {
					background-color: white;
					&:before,
					&:after {
						display: none;
					}
					ul {
						li {
							a {}
						}
					}
				}
			}
		}

		@include media-breakpoint-up(xs) {}
		@include media-breakpoint-up(sm) {}
		@include media-breakpoint-up(md) {
			min-height: 220px;

			.redes-sociais {
				margin-top: 55px;
			}

			.phones {
				margin-top: 30px;
			}
		}
		@include media-breakpoint-up(lg) {}
		@include media-breakpoint-up(xl) {}
	}
}
/* ----------------------------------------- header */

/* sections */
/* ----------------------------------------- */

#content {
	&.blog {
		background: url(../images/bg-geral.jpg) repeat-y center top;
		h1.s-title {
			margin-top: 40px;
		}
	}
}

.lojas {
	margin-bottom: 30px;
	img {
		width: 200px;
		margin-right: 20px;
	}
	.media-body {
		padding-top: 50px;
	}
}

#subtitle {
	background: $cor-seg;
	padding: 10px 0;
	margin-bottom: 40px;
	p {
		color: white;
		font-family: $font-qui;
		margin: 0;
		@include fs(26px);
	}

	&.contato {
		padding: 30px 0;
		p {
			@include fs(20px);		
		}
	}
}

#slideshow {
	.banner {
		margin-bottom: 0;
	}
}
#inspire-se {
	padding: 55px 0;
	background: url(../images/bg-inspire-se.jpg) repeat-y center top;
	
	h1 {
		&.s-title {
			color: white;

			hr {
				border-top-color: white;
			}

			span {
				color: white;
			}
		}
	}

	.slick-slider {
		.slick-dots {
			bottom: -40px;
			max-width: 500px;
			li {
				background: white;
				opacity: .8;
				width: 15px;
				height: 15px;

				button {
					&:before {
						width: 15px;
						height: 15px;
						@include fs(15px);
					}
				}
				
				&.slick-active {
					opacity: 1;
				}
			}
		}
	}

	.box-inspire {
		color: white;

		img {
			display: block;
			margin: 0 auto;
		}
		h1 {
			margin-top: 20px;
			text-transform: uppercase;
			@include fs(22px);
			@include bold;
		}

		p {
			text-align: justify;
		}

		.more {
			color: white;
			background: $cor-qui;
			padding: 3px 25px;
			@include fs(14px);
			@include bold;
			&:hover {
				color: $cor-ter;
				background: white;
			}
		}
	}

}

#produtos {
	background: url(../images/bg.jpg) no-repeat center -550px;
	padding: 70px 0 50px;
}

#parceiros {
	background: $cor-seg;
	padding: 60px 0;

	h1.s-title {
		color: white;
		hr {
			border-top-color: white;
		}
	}

	.slick-slider {

		.slick-track {
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    align-content: center;
		}

		.slick-prev {
			&:before {
				background: url(../images/angle-left-w.png) no-repeat center center;
			}
		}
		.slick-next {
			&:before {
				background: url(../images/angle-right-w.png) no-repeat center center;
			}
		}

		.slick-slide {
			img {
				max-width: 90%;
			}
		}
	}
}

#lojas {
	padding-top: 60px;
	padding-bottom: 10px;

	.box-unidade {
		overflow: hidden;
		position: relative;
		margin-right: -10px;
		margin-left: -10px;

		.mask {
			position: absolute;
			width: 100%;
			height: 100%;
			padding: 0 40px;
			background: rgba($cor-seg, 0.8);
			color: white;
			display: flex;
			justify-content: center;
			flex-direction: column;
			align-items: center;
			opacity: 0;
			@include transition(all 150ms ease-in-out);

			p {
				text-align: center;
				margin-bottom: 0;
				@include fs(18px);

				&.title {
					text-transform: uppercase;
					margin-bottom: 10px;
					@include bold;
				}
			}
		}

		&:hover {
			.mask {
				opacity: 1;
			}
		}
	}
}

.content-form {
	text-align: center;
	text-transform: uppercase;
	
	h2 {
		font-family: $font-seg;
	}

	p {
		font-family: $font-qui;
	}
}
/* ----------------------------------------- sections */

/* articles */
/* ----------------------------------------- */
article {

	&.page {
		background: url(../images/bg-geral.jpg) repeat-y center top;

		&.post-42 {
			background: url(../images/bg.jpg) no-repeat center top;
		}
		&.bg-full,
		&.post-6 {
			background: url(../images/bg-geral.jpg) repeat-y center top;
		}

		header {

			img {
				margin-bottom: 50px;
			}

			h1.s-title {
				hr {
					border-top-color: $cor-seg;
				}
			}

			p {
				@include fs(18px);
			}

			.term-description {
				margin-bottom: 30px;
			}
		}

		p {
			@include fs(15px);
		}

		ul {
			padding: 0 0 0 20px;
		}

		.galeria {
			img {
				border-top-left-radius: 35px;
				border-bottom-right-radius: 35px;
				background: white;
			}
		}

		.box-servico {
			margin-bottom: 50px;
			.content {
				padding-top: 40px;
			}
		}

		#page-grupo {

			#mvv {
				margin: 40px 0 0;
				padding: 50px 0;
				background: $cor-seg;

				.box-mvv {
					display: flex;
					margin-bottom: 30px;

					figure {
						margin: 0 15px 0 0;
						border: 2px solid white;
						overflow: hidden;
						width: 165px;
						height: 165px;
						display: flex;
						justify-content: center;
						align-items: center;
						@include radius(50%);

					}

					.content {
						flex: 1;
						color: white;

						p {
							text-align: justify;
							
							&.title {
								text-transform: uppercase;
								@include bold;
							}
						}
					}
				}

				.full {
					.box-mvv {
						flex-direction: column;
						figure {
							margin-left: auto;
							margin-right: auto;
						}

						.content {
							.entry {
								column-count: 2;
							}
						}
					}
				}
			}
		} // page-grupo

		#page-lojas {
			position: relative;

			&:before {
				content: '';
				position: absolute;
				left: 0;
				bottom: 40px;
				width: 100%;
				height: 85px;
				background: $cor-ter;
			}

			.thumbs {
				padding: 0;
				list-style: none;
				li {
					a {
						display: flex;
						width: 220px;
						height: 220px;
						overflow: hidden;
						background: $cor-ter;
						position: relative;
						@include radius(50%);

						.mask {
							position: absolute;
							width: 100%;
							height: 100%;
							top: 0;
							left: 0;
							background: rgba(#e8323b, .8);
							opacity: 0;
							@include transition(all 150ms ease-in-out);
						}

						&:hover {
							.mask {
								opacity: 1;
							}
						}

					}
					&:nth-child(2) {
						float: right;
					}
				}
			}
		} // page-lojas

		#page-premiacoes {
			img {
				@include radius(45px);
			}
		} // page-premiacoes

		#page-construtora {
			h2 {
				text-transform: uppercase;
				text-align: center;
				margin: 40px 0;
				@include fs(20px);
			}
			.box-emp {
				overflow: hidden;
				position: relative;
				margin-bottom: 50px;
				@include radius(45px);

				p {
					position: absolute;
					left: 0;
					bottom: 15px;
					padding: 5px 10px 5px 20px;
					background: $cor-seg;
					color: white;
					font-family: $font-ter;
					width: 80%;
					@include fs(23px);
				}
			}

			.box-infos {
				margin-bottom: 20px;
				p {
					margin-bottom: 0;
				}
			}

			.bd-r {
				position: relative;

				&:after {
					width: 2px;
					height: 60%;
					position: absolute;
					right: -40px;
					top: 10%;
					background: $cor-pri;
					content: '';
				}
			}
		} // page-construtora

		#page-categorias {
			padding-top: 40px;
			.box-cat {
				position: relative;
				overflow: hidden;
				min-height: 460px;
				margin-bottom: 30px;

				.mask {
					position: absolute;
					width: 100%;
					height: 100%;
					background: rgba($cor-seg, .9);
					text-align: center;
					display: flex;
					color: white;
					justify-content: center;
					align-items: center;
					opacity: 0;
					@include fs(24px);
					@include transition(all 150ms ease-in-out);
				}

				img {
					position: absolute;
					left: 0;
					top: 0;
				}
				&.box-2 {
					min-height: 350px;
					img {
						top: -30%;
					}
				}

				&:hover {
					.mask {
						opacity: 1;
					}
				}
			}
		} // page-categorias
	}

	&.box-post,
	&.single {
		margin-bottom: 40px;
		display: block;
    float: left;
    width: 100%;
		h1 {
			margin: 20px 0;
			font-family: $font-qua;
			text-transform: uppercase;
			@include fs(28px);
		}

		p {
			margin: 0;
			text-align: justify;
		}

		a {
			&.more {
				float: right;
				font-family: $font-qui;
				color: white;
				background: $cor-seg;
				padding: 3px 10px;
				@include radius(5px);
				@include fs(16px);
			}
		}

		footer {
			margin: 30px 0;
		}
	}
}
/* ----------------------------------------- articles */		

/* woocommerce */
/* ----------------------------------------- */
#products {
	
}
/* ----------------------------------------- woocommerce */		

/* sidebar */
/* ----------------------------------------- */
aside {
	&#sidebar {

		.widget {
			margin-bottom: 30px;
		}

		&.loja {
			h2 {
				padding: 10px 20px 5px;
				background: #f1f1f1;
				@include radius(25px);
				@include fs(18px);
			}
		}

		h1, h2, h3, h4, a {
			font-family: $font-qua;
		}

		ul {
			list-style: none;
			padding-left: 15px;
			li {
				&:before {
					content:"\f054";
					font-family: FontAwesome;
					margin-right: 10px;
				}
				a {
					color: $cor-pri;
					&:hover {
						color: $cor-seg;
					}
				}
			}
		}
	}
}
/* ----------------------------------------- sidebar */		

/* footer */
/* ----------------------------------------- */
footer {
	&#footer {
		background: #c6c8cb;
		padding: 30px 0 0;

		h3, p {
			color: $cor-qua;
		}

		h3 {
			color: $cor-qua;
			background: white;
			text-align: center;
			padding: 5px 0;
			@include radius(10px);
			@include fs(17px);
			@include bold;
		}

		p {
			&.funcionamento {
				max-width: 230px;
				margin: 30px auto 0;
				line-height: 25px;
				text-align: center;
				@include fs(23px);
			}
		}


		#copy {
			background: white;
			margin-top: 40px;
			padding: 30px 0;
			a {
				color: $cor-pri;
				display: flex;
				flex-direction: column;
				text-align: center;
				span {
					@include fs(10px);
				}
			}

			p {
				color: $cor-pri;
				margin: 10px 0 0;
				@include fs(15px);
			}
		}
	}
}
/* ----------------------------------------- footer */		